.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.post-header-title {
  color: #282c34;
  margin-top: 50px;
  margin-bottom: 25px;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}

.post-card {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.12);
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.post-card-cats {
  display: flex;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
}

.post-card-cats span {
  margin-right: 10px;
}
